<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello - Vue</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
    body {
        background-color: Canvas;
        color: CanvasText;
        color-scheme: light dark;
    }
    
    .done {
        text-decoration: line-through;
        color: gray;
    }
</style>
</head>
<body>
    
    <div id="app">
        <h1>{{ test }}</h1>

        <form>
            <label>Name: <input type="text" v-model="name"></label> <br>
            <label>Age: <input type="text" v-model="age"></label> <br>
            <label>Email: <input type="text" v-model="email"></label><br>
        </form>

        <h3>Live preview:</h3>
        <p><strong>Name:</strong> {{ name }}</p>
        <p><strong>Age:</strong> {{ age }}</p>
        <p><strong>Email:</strong> {{ email }}</p>

    </div>


    <script>
        const app = Vue.createApp({
            data() {
                return{
                    test: "Allah is the Greatest & All Praise are Due to Allah",
                    name: "",
                    age: "",
                    email: ""
                }
            }
        })

        app.mount("#app")
    </script>



</body>
</html>