<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello - Vue</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
    body {
        background-color: Canvas;
        color: CanvasText;
        color-scheme: light dark;
    }
</style>
</head>
<body>

    <div id="app">
        <h1> {{ test }}</h1>

        <ul>
            <li v-if="foods.length === 0">No items found</li>
            <li v-for="food in foods" v-else>
                {{ food || "Unamed item" }}
            </li>
        </ul>

    </div>


    <script>
        const app = Vue.createApp({
            data() {
                return {
                    test: 'empty',

                    foods: [
                        "fruit",
                        "legumes",
                        "",
                        "dessert"
                    ]
                }
            }
        })

        app.mount("#app")
    </script>
    
</body>
</html>